@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scroll-mt-12 {
    scroll-margin-top: 3rem;
  }
  .scroll-mt-14 {
    scroll-margin-top: 3.5rem;
  }
  .scroll-mt-16 {
    scroll-margin-top: 4rem;
  }
}
